* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 120px;
    height: 70px;
    cursor: pointer;
    
    .line {
        width: 100%;
        height: 10px;
        border-radius: 10px;
        background: white;
    }
}

.container.active #line-1 {
    animation: l1 1s ease;
    transform: translateY(1.88rem) rotate(135deg);
}

.container.active #line-2 {
    animation: l2 1s ease;
    transform: rotate(45deg);
}

.container.active #line-3 {
    animation: l3 1s ease;
    transform: translateY(-1.88rem) rotate(45deg);
}

.container.no-active #line-1 {
    animation: nl1 1s ease;
}

.container.no-active #line-2 {
    animation: nl2 1s ease;
}

.container.no-active #line-3 {
    animation: nl3 1s ease;
}

@keyframes l1 {
    0% { transform: translateY(0)}
    50% {transform: translateY(1.88rem)}
    100% {transform: translateY(1.88rem) rotate(135deg)}; 
}

@keyframes l2 {
    0% {transform: scale(1);}
    50% {transform: scale(0.8);}
}

@keyframes l3 {
    0% {transform: translateY(0)}
    50% {transform: translateY(-1.88rem)}
    100% {transform: translateY(-1.88rem) rotate(45deg)}; 
}

@keyframes nl1 {
    0% {transform: translateY(1.88rem) rotate(135deg)}
    50% {transform: translateY(1.88rem) rotate(0deg)}
    100% {transform: translateY(0) rotate(0deg)}
}

@keyframes nl2 {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}

@keyframes nl3 {
    0% {transform: translateY(-1.88rem) rotate(45deg)}
    50% {transform: translateY(-1.88rem) rotate(0deg)}
    100% {transform: translateY(0) rotate(0deg)}
}